body {
  font-family: Arvo;
  display: flex;
  justify-content: center;
  width: 750px;
  height: 500px;
  background: url('http://i.imgur.com/ZYlHqsK.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

h1 {
  color: white;
  font-size: 4em;
  text-shadow: 5px 5px black;
}

p {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.bars {
  height: 25px;
}

.myProgress {
  width: 80%;
  background-color: rgba(100, 100, 100, 0.5);
  margin-bottom: 3%;
  border: 1px solid black;
  position: relative;
}

.percent {
  position: absolute;
  left: 47.5%;
  top: 3%;
}

.reset {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Arvo;
  text-shadow: 1px 1px black;
}

.results {
  color: white;
  text-shadow: 1px 1px black;
  margin: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 80%;
  animation: fadeInLoad 1s;
}

#errorMessage {
  display: none;
  align-self: center;
  text-align: center;
  width: 80%
}

#submit {
  margin-top: 3%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
  align-self: center;
  color: white;
  font-family: Arvo;
  text-shadow: 1px 1px black;
}

#textInput {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  border-bottom: 1px solid white;
  text-align: center;
  font-size: 2em;
  width: 80%;
  align-self: center;
  resize: vertical;
  text-shadow: 1px 1px black;
}

#textInput:focus {
  outline-width: 0;
}

@keyframes fadeInLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#loader {
  display: block;
  position: absolute;
  left: 49%;
  top: 75%;
  z-index: 1;
  width: 25px;
  height: 25px;
  margin: -5px 0 0 -5px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid transparent;
  border-bottom: 5px solid gray;
  border-left: 5px solid gray;
  border-right: 5px solid gray;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
