body {
  font-family: Arvo;
  display: flex;
  justify-content: center;
  width: 750px;
  height: 500px;
  background: url('http://i.imgur.com/ZYlHqsK.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

h1 {
  color: white;
  font-size: 4em;
  text-shadow: 5px 5px black;
}

p {
  margin: 0;
  padding: 0;
}

.bars {
  height: 25px;
}

.myProgress {
  width: 80%;
  background-color: grey;
  margin-bottom: 3%;
  border: 1px solid black;
  position: relative;
}

.percent {
  position: absolute;
  left: 47.5%;
  top: 3%;
}

.results {
  color: white;
  text-shadow: 1px 1px center;
  margin: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 80%;
  animation: fadeInLoad 1s;
}

#reset {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

#submit {
  margin-top: 3%;
  background-color: rgba(0, 0, 0, 0.9);
  width: 40%;
  align-self: center;
  color: white;
}

#textInput {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  border-bottom: 1px solid white;
  text-align: center;
  font-size: 2em;
  width: 80%;
  align-self: center;
  resize: vertical;
}

#textInput:focus {
  outline-width: 0;
}

@keyframes fadeInLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
